name: Setup Rust

description: "Setup Rust toolchain"

inputs:
  components:
    description: "rustup components to install"
    required: true
  target:
    description: "rustup target to install"
    required: true

runs:
  using: "composite"
  steps:
    - uses: dtolnay/rust-toolchain@master
      id: toolchain
      with:
        toolchain: "nightly-2026-01-14"
        components: "${{ inputs.components }}"
        targets: "${{ inputs.target }}"

    - id: rust-override
      shell: bash
      run: "rustup override set ${{steps.toolchain.outputs.name}}"

    - uses: Swatinem/rust-cache@v2
