[env]
RKTK_CONFIG_PATH = { value = "./rktk.dev.json", relative = true }

[profile]

[profile.dioxus-wasm]
inherits = "dev"
opt-level = 2

[profile.dioxus-server]
inherits = "dev"

[profile.dioxus-android]
inherits = "dev"

[profile.wasm-dev]
inherits = "dev"
opt-level = 1

[profile.server-dev]
inherits = "dev"

[profile.android-dev]
inherits = "dev"

[alias]
xtask = "run -p xtask --"

[build]
rustflags = ["--cfg=web_sys_unstable_apis"]

[doc.extern-map.registries]
crates-io = "https://docs.rs/"
