name: ci

on:
  push:
    branches: ["master"]
    paths: &paths
      - ".github/workflows/ci.yml"
      - ".github/workflows/setup-rust/action.yaml"
      - "**.toml"
      - "**.rs"
      - "**.lock"
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - ready_for_review
    paths: *paths
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always
  CLICOLOR_FORCE: 1

jobs:
  rust-check-lib:
    name: Check rust code (lib)
    runs-on: ubuntu-latest
    if: github.event.pull_request.draft == false
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup rust
        uses: ./.github/workflows/setup-rust
        with:
          components: "clippy,rust-src"
          target: "thumbv6m-none-eabi,thumbv7em-none-eabihf"

      - name: Install deps
        uses: awalsh128/cache-apt-pkgs-action@latest
        with:
          packages: libwebkit2gtk-4.1-dev build-essential curl wget file libxdo-dev libssl-dev libayatana-appindicator3-dev librsvg2-dev libudev-dev
          version: 1.0

      - uses: taiki-e/install-action@v2
        with:
          tool: cargo-hack

      - uses: r7kamura/rust-problem-matchers@v1

      - name: Run rust check
        run: cargo xtask check lib

  rust-check-bin:
    name: Check rust code (bin)
    runs-on: ubuntu-latest
    if: github.event.pull_request.draft == false
    permissions:
      pull-requests: write
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup rust
        uses: ./.github/workflows/setup-rust
        with:
          components: "clippy,rust-src"
          target: "thumbv6m-none-eabi,thumbv7em-none-eabihf"

      - uses: taiki-e/install-action@v2
        with:
          tool: cargo-hack,cargo-llvm-lines,uf2deploy,cargo-bloat

      - uses: r7kamura/rust-problem-matchers@v1

      - name: Run rust check
        run: cargo xtask check bin

      - name: Binary stats (PR)
        if: github.event_name == 'pull_request'
        run: |
          # note: maximum comment size is 65536 characters
          cargo xtask size-stats neg-nrf --features right,trouble,pmw3360 --bin neg_nrf_master --gh-output --extra
          cargo xtask size-stats neg-nrf --features right,sd,pmw3360 --bin neg_nrf_master --gh-output
          cargo xtask size-stats keyball61-rp --bin keyball61 --gh-output
          cargo xtask size-stats per-feature --gh-output

      - name: Post binary stats as PR comment
        if: github.event_name == 'pull_request'
        run: |
          gh pr comment "$PR_NUMBER" --delete-last --yes || true
          gh pr comment "$PR_NUMBER" --body-file /tmp/stats-comment.md
        env:
          GH_TOKEN: ${{ github.token }}
          PR_NUMBER: ${{ github.event.pull_request.number }}

      - name: Binary stats (Commit)
        if: github.event_name == 'push'
        run: |
          # note: maximum comment size is 16384 characters, so skip --extra
          cargo xtask size-stats neg-nrf --features right,trouble,pmw3360 --bin neg_nrf_master --gh-output
          cargo xtask size-stats neg-nrf --features right,sd,pmw3360 --bin neg_nrf_master --gh-output
          cargo xtask size-stats keyball61-rp --bin keyball61 --gh-output
          cargo xtask size-stats per-feature --gh-output

      - name: Post binary stats as commit comment
        if: github.event_name == 'push'
        uses: peter-evans/commit-comment@v3
        with:
          body-path: /tmp/stats-comment.md

  rust-test:
    name: Execute test for rust code
    runs-on: ubuntu-latest
    if: github.event.pull_request.draft == false
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup rust
        uses: ./.github/workflows/setup-rust
        with:
          components: "clippy,rust-src"
          target: "thumbv6m-none-eabi,thumbv7em-none-eabihf"

      - uses: r7kamura/rust-problem-matchers@v1

      - name: Run rust test
        run: cargo xtask test all
